---
title:      Hugo Peixoto - Programming contests
filter:     haml
---
%h1 Programming contests

%p.question In what kind of contests do I participate?

%p
  %abbr{:title => 'Association for Computer Machinery'} ACM
  hosts the
  = external_link_to 'International Collegiate Programming Contest', 'http://cm2prod.baylor.edu'
  every year. Participating in groups of three students, each team must solve a set of 5 &ndash; 11
  problems, which require knowledge about mathematics, graph theory, dynamic programming and
  other computer science related topics.

%p
  I participated in the Portuguese qualification rounds and in the South-Western European Regional Contest.
  I also participate in other ad-hoc programming contests.

%p.question Who's my team?

%p
  When participating in the ICPC contests, I started with
  = external_link_to 'Pedro Silva', 'http://paginas.fe.up.pt/~ei04065', :rel => 'friend met colleague'
  and
  = succeed '.' do
    = external_link_to 'Angela Silva', student_url('040509009'), :rel => 'friend met colleague'
  After a year, Angela dropped out and 
  = external_link_to 'Miguel Araújo', student_url('070509078'), :rel => 'friend met colleague'
  joined us. In the 2009 season, Pedro was no longer elegible, so we had
  = external_link_to 'João Azevedo', student_url('050509028'), :rel => 'friend met colleague'
  joining us. Outside of the ICPC contests, I've teamed up with
  = external_link_to 'Pedro Loureiro', 'http://junifeup.pt/~ploureiro/cv/index.php/home', :rel => 'friend met colleague'
  to participate in a functional/logical programming contest.

%p.question What are my results?
%p I participated in the ICPC contests from 2005 to 2009. My team's (Theorem) results are as follow:

%ul
  %li 2009: SWERC (19th), MIUP (2nd), TIUP (2nd)
  %li 2008: SWERC (19th), MIUP (3rd), TIUP (1st)
  / and CPUP (3rd)
  %li 2007: SWERC (20th), MIUP (4th), TIUP (2nd)
  / and CPUP (3rd)
  %li 2006: SWERC (17th), MIUP (13th), TIUP (5th)
  / and CPUP (2nd)
  %li 2005: MIUP (19th), TIUP (?) and CPUP (4th)

%p
  I've also participated in
  = succeed ',' do
    = external_link_to 'Google Code Jam', 'http://code.google.com/codejam/'
  Google's international programming competition.
  In 2008, I managed to advance to the 
  = succeed ',' do
    = external_link_to 'second online round', 'http://code.google.com/codejam/contest/scoreboard?c=32001#sp=1521'
  finishing in <strong>1526th</strong> place. In 2009, I finished the
  = external_link_to 'second online round', 'http://code.google.com/codejam/contest/scoreboard?c=204113#sp=441'
  in <strong>444th</strong> place and advanced to the third round. Unfortunately, I was unable
  to participate in the third round.

%p
  Together with
  = succeed ',' do
    = external_link_to 'Pedro Loureiro', 'http://junifeup.pt/~ploureiro/cv/index.php/home', :rel => 'friend met colleague'
  we participated in the Logical and Functional Programming Contest/Meeting in
  2007, achieving the <strong>4th</strong> place.

