---
title:       Hugo Peixoto - Mergesort madness
filter:      haml
---

%h1 Mergesort madness

%p.question What's my goal?
%p To implement mergesort in 42 different languages.

%p.question Why?
%p Back in June 2006, I enrolled the Numeric Analysis course, in which we had three weeks to do an assignment.

%p The assignment consisted in analyzing several implementations of Euler's Method. My goal was to implement it in the largest number of languages possible. As time ran out (as it always does), I was forced to abandon the project. Not happy about it, I decided to leave for a crusade against several computer languages, implementing Mergesort in each one of them.

%p.question How's it going?

%p
  Here's the list of
  = surround '(', ')' do
    = mergesorts.count
  completed implementations, hosted on
  = succeed '.' do
    = external_link_to 'github', 'https://github.com/hugopeixoto/mergesort'

%ol
  - mergesorts.each do |mergesort|
    %li= external_link_to mergesort[0], "https://github.com/hugopeixoto/mergesort/blob/master/#{mergesort[1]}"
