---
title:      Hugo Peixoto - NEATsqueak
filter:     haml
---

%h1 NEATsqueak

%p.question What's NEATsqueak?
%p
  = external_link_to 'CiberRato', 'http://microrato.ua.pt/'
  is a competition about autonomous robotic control purely focused on the software
  and algorithmic details. The <strong>NEATsqueak</strong> project aims to develop an approach to
  this challenge based on artificial neural networks.
%p
  We're developing a series of studies on the use of
  = succeed ',' do
    = external_link_to 'NEAT', 'http://www.cs.ucf.edu/~kstanley/neat.html'
  a neuroevolution technique, to optimize several modules of a CiberRato agent.

%p
  We've published an article on the 14th Portuguese Conference on Artificial Intelligence, regarding
  the optimization of a path following module.

%p.question Who are the people involved?
%p
  I'm currently working together with
  = succeed ',' do
    = external_link_to 'Filipe Castro', 'http://filipecastro.net/', :rel => 'friend met colleague'
  = external_link_to 'João Portela', student_url('040509034'), :rel => 'friend met colleague'
  and
  = succeed '.' do
    = external_link_to 'Rui Teixeira', student_url('030509095'), :rel => 'friend met colleague'

%p.question When did this project start?
%p
  We started planning and developing this in October, 2008.
