---
filter:       haml
---

%h2 Master thesis
%ul
  %li= link_to_page_unless_current 'Introduction', :title => 'Hugo Peixoto - Master thesis'
  %li= link_to_page_unless_current 'Project plan', :title => 'Hugo Peixoto - Master thesis - Project plan'
  %li= link_to_page_unless_current 'Documents', :title => 'Hugo Peixoto - Master thesis - Documents'

%p.question More about myself
%ul
  %li= link_to_page_unless_current 'My curriculum vitae', :title => 'Hugo Peixoto - Curriculum vitae'
  /%li= link_to 'My blog', '/blog'
  %li= link_to_page_unless_current 'More about me', :title => 'Hugo Peixoto - About'

%p.question Random projects
%ul
  %li= link_to_page_unless_current 'Programming contests', :title => 'Hugo Peixoto - Programming contests'
  %li= link_to_page_unless_current 'NEATsqueak', :title => 'Hugo Peixoto - NEATsqueak'
  %li= link_to_page_unless_current 'Haptic experiments', :title => 'Hugo Peixoto - Haptic experiments'
  %li= link_to_page_unless_current 'Mergesort madness', :title => 'Hugo Peixoto - Mergesort madness'

%p.question Me, on the internets
%ul
  %li= external_link_to 'Stack Overflow', 'http://stackoverflow.com/users/71591/hugo-peixoto', :rel => 'me'
  %li= external_link_to 'Facebook', 'http://facebook.com/hugopeixoto', :rel => 'me'
  %li= external_link_to 'Delicious', 'http://delicious.com/hugopeixoto', :rel => 'me'
  %li= external_link_to 'LinkedIn', 'http://www.linkedin.com/in/hugopeixoto', :rel => 'me'
  %li= external_link_to 'Twitter', 'http://twitter.com/hugopeixoto', :rel => 'me'
  %li= external_link_to 'Last.fm', 'http://www.last.fm/user/Politoed', :rel => 'me'

