---
title:      Programming contests
filter:     haml
---
%h1 Programming contests

%p.question In what kind of contests do I enter?

%p
  %abbr{:title => 'Association for Computer Machinery'} ACM
  hosts the
  = external_link_to 'International Collegiate Programming Contest', 'http://cm2prod.baylor.edu'
  every year. Participating in groups of three students, each team must solve a set of 5 &ndash; 11
  problems, which require knowledge about mathematics, graph theory, dynamic programming and
  other computer science related topics.

%p
  Google hosts a yearly programming contest as well, named
  = succeed '.' do
    = external_link_to 'Google Code Jam', 'http://code.google.com/codejam/'
  This contest is not restricted to college students, and it is an individual
  competition, so there is a large number of participants each year from all
  over the world.

%p
  Aside from these two major competitions, I enter other random programming contests.

%p.question What are my results?
%p
  Regarding Google Code Jam, I have achieved a top 500 more than once, in a
  contest where there are tens of thousands of competitors from more than a
  hundred countries. Here are my stats:

%ul
  %li 2008: 1526th
  %li 2009: <strong>444th</strong>
  %li 2010: <strong>356th</strong>
  %li 2011: N/A
  %li 2012: 2105th

%p My ICPC national and regional (South-Western European Regional Contest) results from 2005 to 2009 are as follow:

%ul
  %li 2009: National: 2nd, Regional: 19th
  %li 2008: National: 3rd, Regional: 19th
  %li 2007: National: 4th, Regional: 20th
  %li 2006: National: 13th, Regional: 17th
  %li 2005: National: 19th

%p
  Together with
  = succeed ',' do
    = external_link_to 'Pedro Loureiro', 'http://junifeup.pt/~ploureiro/cv/index.php/home', :rel => 'friend met colleague'
  we entered a Logical and Functional Programming Contest/Meeting in 2007,
  achieving the <strong>4th</strong> place.

%p.question With whom do I code?

%p Over the years, I have entered ICPC with several friends:
%ul
  %li= external_link_to 'Pedro Silva', student_url('040509065'), :rel => 'friend met colleague'
  %li= external_link_to 'Angela Silva', student_url('040509009'), :rel => 'friend met colleague'
  %li= external_link_to 'Miguel Araújo', student_url('070509078'), :rel => 'friend met colleague'
  %li= external_link_to 'João Azevedo', 'http://jcazevedo.net/', :rel => 'friend met colleague'

