---
title: Master thesis
---
%h1 Waste collection route optimization based on real fill status data

%p
  The final version of the document is
  = succeed '.' do
    = external_link_to 'available in PDF', 'http://feupload.fe.up.pt/get/w9yEL7XoVf5voAe'

%h2 People

%p
  This project was developed in
  = succeed '.' do
    = external_link_to 'Fraunhofer Portugal Research Center AICOS', 'http://www.fraunhofer.pt/'

%dl.master
  %dt Student
  %dd Hugo Miguel Pereira Peixoto
  %dt Supervisor
  %dd= external_link_to 'Luís Paulo Reis (Ph.D.)', 'http://paginas.fe.up.pt/~lpreis/'
  %dt Second supervisor
  %dd Ana Cristina Aguiar (Ph.D.)

%h2 Abstract

%p
  Fraunhofer Portugal Research Center for Assistive Information and Communication
  Solutions is currently developing a system to <em>monitor the fill status of waste
  containers</em>. The introduction of a waste container fill status monitoring system
  in the city of Porto, Portugal, gives rise to several opportunities. For
  example, it allows the development of a detailed analysis of the city’s waste
  generation distribution and the optimization of waste collection routes.

%p
  This document describes the architecture design of the information system to
  store and retrieve data regarding the containers’ status. Furthermore, it
  provides a description of several algorithms that can be used to obtain
  efficient collection routes. This optimization problem is modeled as the
  <em>Capacitated Vehicle Routing Problem</em>. To address this problem, two
  approaches were analyzed; the first involves solving the associated
  <em>Asymmetric Traveling Salesman Problem</em> &mdash; in which vehicle
  capacity constraints are ignored &mdash; followed by clustering the resulting
  tour into feasible routes. This approach is called
  <em>route-first-cluster-second</em>. The second approach relies on the usage
  of a construction heuristic by Clarke and Wright.

%p
  Regarding the optimization of the Asymmetric Traveling Salesman Problem
  solution, this study compares several techniques: two construction heuristics
  &mdash; greedy and repetitive nearest neighbor &mdash; and three
  meta-heuristics &mdash; <em>hill climbing</em>, <em>genetic algorithms</em>
  and <em>MAX-MIN ant system</em>. Additionally, MAX-MIN ant system was
  subjected to a parameter sensibility analysis.

%p
  Results show that MAX-MIN ant system achieves more efficient routes when the
  number of ants is higher, although it increases the algorithm’s running time.
  When dealing with a scenario in which there is a limited time-frame, it is
  recommended that a low number of ants is used. The algorithm was also shown
  to be very sensitive to changes in parameter &#946;, which indicates if an ant
  should give more importance to the distance between two vertices or to the
  pheromone levels in that arc. This analysis suggests that &#946; should be close
  to 20.

%p
  When evaluating the performance of the presented techniques applied to the
  Capacitated Ve- hicle Routing Problem, MAX-MIN ant system produced, in
  average, more efficient routes than the other approaches.

