---
filter:       haml
---

%p.question Me
%ul
  %li= link_to_unless_current 'Introduction', find(@items, '/')
  %li= link_to_unless_current 'My curriculum vitae', find(@items, '/cvitae/')
  %li= external_link_to 'Email me', 'mailto:hugo.peixoto@gmail.com'

%p.question Blog
%ul
  %li= link_to_unless_current 'Web services in go', find(@items, '/blog/web-services-in-go/')

%p.question Random projects
%ul
  %li= link_to_unless_current 'Programming contests', find(@items, '/contests/')
  %li= link_to_unless_current 'How global am I', find(@items, '/howglobalami/')
  %li= link_to_unless_current 'Haptic experiments', find(@items, '/haptic/')
  %li= link_to_unless_current 'Master thesis', find(@items, '/master-thesis/')
  %li= link_to_unless_current 'Mergesort madness', find(@items, '/mergesort/')
  %li= link_to_unless_current 'NEATsqueak', find(@items, '/neatsqueak/')

%p.question Other internets
%ul
  %li= external_link_to 'Delicious', 'http://delicious.com/hugopeixoto', :rel => 'me'
  /%li= external_link_to 'Facebook', 'http://facebook.com/hugopeixoto', :rel => 'me'
  %li= external_link_to 'GitHub', 'https://github.com/hugopeixoto', :rel => 'me'
  /%li= external_link_to 'Last.fm', 'http://www.last.fm/user/Politoed', :rel => 'me'
  %li= external_link_to 'LinkedIn', 'http://www.linkedin.com/in/hugopeixoto', :rel => 'me'
  /%li= external_link_to 'Stack Overflow', 'http://stackoverflow.com/users/71591/hugo-peixoto', :rel => 'me'
  %li= external_link_to 'Twitter', 'http://twitter.com/hugopeixoto', :rel => 'me'
